{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Something went wrong!</h1>

    <p class="alert alert-danger">
        I think something's gone wrong. <a href="{{ path('homepage') }}">Return to the homepage</a>.
    </p>
{% endblock %}

{% block title %}Something went wrong!{% endblock %}