{% extends '@App/layout.html.twig' %}

{% block body %}
  <h1>Products List</h1>

  {% for product in products %}
    <a href="{{ path('product_item', {id: product.id}) }}">Products {{ product.id }}: {{ product.title }}</a><br>
  {% endfor %}
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block title %}Products!{% endblock %}
